<ion-header>
  <ion-toolbar class="custom-toolbar">
    <div class="header-image-container">
      <img src="../assets/TBCST.jpeg" alt="Logo">
    </div>
    <ion-title>Alertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card id="alertas">

    <ion-card-header>
      <ion-card-title>Alertas y Recordatorios</ion-card-title>
    </ion-card-header>

    <ion-list>

      <ion-item
        *ngFor="let alerta of alertas"
        button
        [href]="alerta.url"
        target="_blank">

        {{ alerta.titulo }}

      </ion-item>

    </ion-list>

  </ion-card>

</ion-content>
